# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/

# .cursor
.cursor

# .vscode
.vscode

# LLM Backend
llm/config.py
llm/data/
llm/__pycache__/
llm/*.pyc
llm/.pytest_cache/

# FAISS 索引文件
data/faiss_indexes/

# test 文件
llm/test
test_data
info_database/test